@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap");

* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Advent pro", sans-serif;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
}
/* NAVBAR */
header nav {
  overflow: hidden;
  background: linear-gradient(rgb(246, 255, 192), rgb(255, 200, 134));
  opacity: 0.9;
  position: fixed;
  width: 100%;
}
header li {
  float: right;
  font-size: 1.2rem;
}
header li a {
  text-decoration: none;
  display: block;
  padding: 18px 10px;
}
header li a:hover {
  transform: scale(1.1);
}
#logo {
  font-family: "Dancing script", sans-serif;
  float: left;
  font-weight: bold;
  font-size: 1.5rem;
}
/* Main image */
#imageprincipale {
  padding-top: 4rem;
  background: url(mediaclos/image-principale.JPG) no-repeat fixed 50%;
  background-size: cover;
  height: 50rem;
}
h1 {
  font-family: "Dancing script", cursive;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 100px;
  margin-bottom: 50px;
  text-shadow: 3px 3px 2px black;
}
#firstline {
  height: 1px;
  width: 50%;
  margin: -3px auto;
  background-color: #fffae1;
  box-shadow: 1px 1px 2px #000;
}
h3 {
  text-shadow: 3px 3px 2px #000;
  font-size: 3em;
  color: antiquewhite;
}
/* Intro */
#introduction {
  background: linear-gradient(rgb(255, 200, 134), rgb(246, 255, 192));
  opacity: 0.9;
}
#textintro {
  padding: 0px 20%;
}
#textintro p {
  font-size: 1.2rem;
}

#prestation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;
}
.imagesprestation h4 {
  font-family: "Dancing script", cursive;
  font-size: 1.8rem;
  margin: 15px;
  font-weight: 500;
}
.imagesprestation img {
  box-shadow: 5px 5px 4px 2px black;
  border-radius: 20px;
}
.imagesprestation img:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
/* TOURISME */
#tourisme {
  height: 1400px;
  background: linear-gradient(rgba(245, 255, 192), seashell);
  padding: 1px 2%;
}
#tourisme h2 {
  padding-top: 60px;
}
#ocean {
  background: url(mediaclos/ocean.jpg) center;
}
#vignoble {
  background: url(mediaclos/vignes.jpg) center;
}
#chateau {
  background: url(mediaclos/chateau.JPG) center;
}
#phare {
  background: url(mediaclos/phare.JPG) center;
}
#tourisme li {
  float: left;
  margin: 65px 100px 0px 200px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
#tourisme p {
  height: 45px;
  width: 235px;
  background-color: rgba(236, 179, 152, 0.75);
  float: right;
  margin: 50px -180px 0 0;
  font-size: 1.5rem;
  box-shadow: 4px 4px 2px 1px rgba(182, 113, 113, 0.75);
}
#tourisme #vignoble,
#tourisme #chateau {
  float: right;
}
#chateau p,
#vignoble p {
  float: left;
  background-color: rgb(228, 179, 18, 0.75);
  box-shadow: 4px 4px 2px 1px rgba(102, 75, 0, 0.75);
  margin-left: -180px;
}
/* FOOTER */
footer {
  background-color: #524a3a;
  color: #fffae1;
  padding: 20px 0 10px 0;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input,
textarea,
button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: "Advent pro", sans-serif;
}
textarea {
  height: 150px;
}
button {
  font-size: 1.5rem;
  background-color: #fffae1;
}
button:hover {
  background-color: chocolate;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#secondline {
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 60px auto;
}
#copyrighticons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  color: #fffae1;
  font-size: 1.1rem;
}
#icons {
  width: 30%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.5rem;
  color: #fffae1;
}
#icons a:hover {
  color: rgb(99, 99, 230);
  transform: scale(2);
  transition: 0.2s;
}
/* responsive */
@media only screen and (max-width: 1000px) {
  img {
    width: 100%;
  }
  #tourisme li {
    margin: 65px 100px 0px 50px;
    height: 226px;
    width: 55%;
  }
  #tourisme p {
    font-size: 1.3rem;
    width: 99%;
    height: 15%;
    margin: -32px -24px 0px -24px;
  }
}
